<div style="margin: auto; max-width: 700px;">

    <div style="margin-top: 10px;">
        <div style="text-align: center;">Добавление объектов</div>
        <table class="table">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let itemToCreate of itemsToCreate">
                    <td>{{itemToCreate.code}}</td>
                    <td>{{itemToCreate.value}}</td>
                </tr>
                <tr>
                    <td>
                        <input class="form-control" type="number" [(ngModel)]="newItem.code"  />
                    </td>
                    <td>
                        <input class="form-control" type="text" [(ngModel)]="newItem.value" />
                    </td>
                    
                    <td>
                        <button class="btn btn-secondary" type="button" (click)="addItem()">Add</button>
                    </td>
                </tr>
                <div>
                    <button class="btn btn-primary"  type="button" (click)="saveItems()">Save</button>
                </div>
            </tbody>
        </table>
    </div>

    <div style="margin-top: 10px;">
        <div style="text-align: center;">Сохраненные объекты</div>
        <table class="table">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items">
                    <td>{{item.code}}</td>
                    <td>{{item.value}}</td>
                </tr>
            </tbody>
        </table>

        <ul *ngIf="itemsCount > 5" class="pagination">
            <li style="margin-left: 5px;" class="page-item" *ngFor="let number of buttonsArray" (click)="getAll(number)">
                <a class="page-link" >{{number}}</a>
            </li>
        </ul>
    </div>
</div>
